# Node modules
node_modules/

# Environment variables
.env

# MacOS system files
.DS_Store

# Build output folders
*/dist/

# Circom build artifacts
*.r1cs
*.sym
*.ptau
*.zkey
*.wtns

# SnarkJS / proof outputs
*.json
*.dat
*.key

# Logs
*.log

# Output folders
build/
artifacts/
output/
verifier_js/