# Node modules
node_modules/

# Environment variables
.env

# MacOS system files
.DS_Store

# Build output folders
*/dist/

# Circom build artifacts
*.r1cs
*.sym
*.ptau
*.wtns

# Circom zkey and verification key/proof files
verifier_0000.zkey
verifier_0001.zkey
verification_key.json
public.json
proof.json
test_input.json

# SnarkJS / proof outputs
*.dat
*.key

# Logs
*.log

# Output folders
build/
artifacts/
output/
verifier_js/

# VSCode settings
.vscode/

# Hardhat build artifacts
cache/
typechain/
typechain-types/
coverage/
coverage.json

# Hardhat deployment files (if using hardhat-deploy)
deployments/
deployments.json

# Hardhat output
out/

backend/data/*